.loginContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 25%;
  height: 70%;
  border: 1px solid #595959;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.login {
  color: #595959;
  font-size: 24px;
  text-align: center;
}

.loginForm {
  margin-top: 80px;
  width: 100%;
}

.loginButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.confirmButton {
  background-color: #595959;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
}

.linkButton {
  background-color: transparent;
  text-decoration: underline;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  color: #3e0eed;
  cursor: pointer;
}

.linkButton:hover {
  color: #e1ddef;
}


