.registerContainer {
  margin: 30px auto;
  padding: 30px;
  width: 80%;
  height: 85%;
  border: 1px solid #595959;
  background-color: #f2f2f2;
  color: #eee;
  border-radius: 20px;
}

.editContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  width: 50%;
  height: 90%;
  border: 1px solid #595959;
  background-color: #f2f2f2;
  color: #eee;
  border-radius: 20px;
}

.wizardContainerFS {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2%;
}

.wizardContainerSS {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2%;
}

.buttonContainer {
  position: absolute;
  bottom: 40px;
  right: 33px;
}

.editButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  margin-top: 170px;
}

.button {
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 100%;
}

.loginButton {
  background-color: #4fb4bc;
}

.cancelButton {
  background-color: #6f6a6a;
}

.wizardButtons {
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  color: #eee;
  cursor: pointer;
  margin-left: 10px;

  background-color: rgb(79, 134, 136);
}

.checkboxContainer {
  margin-top: 10px;
  color: #595959;
}

.checkbox {
  padding: 5px;
  margin-right: 5px;
}

#userName {
  width: 49%;
}

#lastName {
  width: 49%;
}

#userEmail {
  width: 100%;
}

#userDocument {
  width: 49%;
}

#userPhone {
  width: 49%;
}

#userZipCode {
  width: 17%;
}

#userStreet {
  width: 62%;
}

#houseNumber {
  width: 17%;
}

#userComplement {
  width: 49%;
}

#userNeighborhood {
  width: 49%;
}

#userCity {
  width: 49%;
}

#userState {
  width: 49%;
}

#passwordConfirmation {
  width: 49%;
}

#password {
  width: 49%;
}

.cursorBlocked {
  cursor: "not-allowed";
}

#userTermo {
  resize: none;
  background-color: transparent;
  color: #595959;
  border: 1px solid #595959;
  margin-bottom: 10px;
  overflow-y: scroll;
  border-radius: 5px;
}

.wizardContainerSS h3 {
  margin-bottom: 30px;
  text-align: center;
}

.editPasswordButtonContainer {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
