  h2, h3, p {
    color: #595959;
  }

  .productList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
  }
  
  .product {
    padding: 10px;
    margin: 10px;
    width: 300px;
  }
  
  .product img {
    max-width: 100%;
  }
  
  .titleProducts {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
  }

  .nameTag{
    font-size: 18px;
  }
  
  .precoTag{
    color: #fb0505;
    margin-top: 5px;
    font-weight: bold;
  }