  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .user-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .user-buttons button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .user-buttons button:hover {
    background-color: #555;
  }

  h2, h3, p {
    color: #EEE;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 250px;
  }
  
  .product img {
    max-width: 100%;
  }
  
  section h2 {
    text-align: center;
    margin-top: 20px;
  }
  
  section button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  
  section button:hover {
    background-color: #555;
  }
  